 body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body > header,
body > main,
.first-block {
    width: 1000px;
    margin-left: calc(50% - 500px);
    margin-right: calc(50% - 500px);
    display: inline-block;
    margin-top: 20px;
}
body > main {
    margin-top: 100px;
}
header > img {
    height: 52px;
    float: left;
}
header > nav {
    float: right;
    margin-top: 13px;
}
nav > a {
    display: inline-block;
    padding-bottom: 5px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    color: black;
}
nav > a:hover {
    border-bottom: solid 2px red;
}
nav > a:active {
    color: #f514aa
}
h1{
    color: #000;
    text-align: center;   
}
input:focus::placeholder {
   color: transparent;
}
.first-block {
    text-align: center;
    border-radius: 20px;
    border: solid;
    padding-bottom: 30px;
    background-image: url(../img/box-background.png);
    background-size: cover;
}

ol {
    display: table;
    margin-left: auto;
    margin-right: auto;
    list-style-position: inside;
    list-style-type: decimal;
    color: black;
  }
  #done {
      background-color: green;
  }


  